.Header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
  }
  
  .Header h1 {
    margin: 0;
    color: #333;
    font-size: 24px;
    padding-left: 20px;
  }

  .Header a {
    text-decoration: none;
  }

  .Header nav {
    display: flex;
    align-items: center;
  }
  .Header div span {
    margin-right: 10px;
    color: #333;
    font-size: 18px;
  }
  
  .Header .CartIcon {
    margin-left: 20px;
    padding-right: 20px;
    padding-top: 16px;
    padding-bottom: 0px;
  }

  .CartIcon img {
    height: 24px; 
    width: auto;
    cursor: pointer;
  }

  .Header button {
    padding: 10px 12px; 
    font-size: 14px;
    line-height: 1;
    border-radius: 4px; 
  }

  /* Responsive styles */
  @media (max-width: 768px) {
    .Header {
    flex-direction: column; 
    align-items: flex-start;
    }

  .Header h1,
  .Header div,
  .Header .CartIcon {
    width: 100%; 
    justify-content: space-between; 
    padding: 10px 0; 
  }

  .Header div {
    order: 2; 
  }
  
  .Header .CartIcon {
    order: 3;
  }
  
    .Header div span {
      font-size: 16px;
    }
  }
  .Avatar img {
    border-radius: 50%;
    width: 40px; /* Adjust size as needed */
    height: 40px; /* Adjust size as needed */
    padding-top: 25px;

 
    
  }
  .Header .Avatar {
  
    padding-top: 16px;
    padding-bottom: 0px;
  }
  .welcome-message {
    margin-right: 10px; /* Adjust the margin as needed */
    font-weight: bold;
  }
 
  
  