.ProductDisplay {
  display: flex;
  flex-direction: row; 
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center; 
  padding: 20px;
}

.ProductItem {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  flex: 1; 
  min-width: 200px; 
}

.ProductItem img {
  max-height: 200px;
  height: auto;
}

.ProductItem h2,
.ProductItem p {
  margin: 10px 0;
}
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .ProductDisplay {
      padding: 10px;
    }
  }
  